extends ../layout
block content
  .row
    .col-lg-12
      h1.page-header Modificaci&oacute;n perfil usuario
  .row
    #notifications.panel-body
    .col-lg-12
      .panel.panel-default
        .panel-heading
          | Datos de usuario
        .panel-body
          .row
            form#form(role='form')
              // /.col-lg-6 (nested)
              .col-lg-12
                .form-group.input-group
                  span.input-group-addon Perfil de usuario
                  input#identification.form-control(type='text' value=role.role  name='roleName')
                .form-group.input-group

                each screen in screens
                  -var screenActions = JSON.parse(screen.screen_actions);
                  .col-lg-2
                    .form-group
                      label=screen.screen_show
                      each actions in  screenActions
                        -var input   = 'screenPermissions['+ screen.screen_name +']['+actions.actionName+']';
                        -var checked = (screenPermissions[screen.screen_name] !== undefined ? screenPermissions[screen.screen_name][actions.actionName] : false)

                        .checkbox
                        label
                          if checked == true
                           input(type='checkbox' checked='checked', name=input value='1')
                          else
                           input(type='checkbox', name=input value='1')

                          span=actions.actionShow

              input#userId(type='hidden' name='roleId' value=role.id)
          button#btn-submit.btn.btn-default(type='button') Guardar


block JS
  script.
    $('#btn-submit').click(function () {
      var url = "/roles/store";
      $.ajax({
        type: "POST",
        url: url,
        data: $("#form").serialize(),
        success: function (response) {
          let notification = '';
          if (response.error === true) {
            notification = `<div class="alert alert-danger alert-dismissable ">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                          <p>El role ya existe</p>
                         </div>`
          }
          else {
            $('#notificationSuccess').removeClass('hidden')
            notification = ` <div class="alert alert-success alert-dismissable" id="notificationSuccess">
                           <a href="/roles/list"><button type="button" class="btn btn-default close">
                              Regresar al listado</button>
                            </a>
                            <p>Role modificado sin errores</p>
                          </div>`;
          }
          $('#notifications').html(notification);
        }
      });
    });
